@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

a{text-decoration: none; color: inherit;}

ul, ol, li{list-style: none;}

img{vertical-align: baseline;}

table{border-collapse: collapse;}   /* 테이블태그 이중선 없애기 */

input{
    border: 1px solid #e65d5d;
    color: #e65d5d;
}

input::-webkit-input-placeholder{
    color: #e65d5d;
}

body{
    font-family: "NanumGothic", "맑은 고딕", arial;
    background: url(../images/s_images/body_bg.png);
}


/* 웹폰트 css 만들기 */
@font-face {
    font-family: "NanumGothic";
    src: url("../webfont/NanumGothic.woff");
}

@font-face {
    font-family: "어비";
    src: url("../webfont/UhBee\ Seulvely.ttf");
}